
  
    .mobile-call-icon {
      display: none; /* hide mobile call icon */
    }

    @media(min-width:300px)
{
  body{
    width: 25rem;
  }
}

@media(min-width:800px)
{
  body{
    width: 78rem;
  }
}

@media(min-width:1200px)
{
  body{
    width: 100rem;
  }
}

   
      