
  
    .mobile-call-icon {
      display: none; /* hide mobile call icon */
    }

    @media(min-width:300px)
{
  .container{
    box-sizing: border-box;
    font-size: 5rem;
  }
}

@media(min-width:300px)
{
  .row{
    display:flex;
    font-size: 5rem;
  }
}

@media(max-width:300px)
{
  body{
    width: 25rem;
  }
}

@media(min-width:800px)
{
  body{
    width: 78rem;
  }
}

@media(min-width:1300px)
{
  body{
    width: 100rem;
  }
}

 